html {
  font-family: "Roboto";
  font-style: normal;
}

body {
  width: 100wh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  margin: 0;
}

h2 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

hr {
  background: rgba(202, 202, 202, 0.5);
  border: none;
  height: 1px;
  margin: 0;
  margin-top: 0px;
  border-radius: 0px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.logo {
  margin-left: 40px;
  margin-top: 25px;
}

.logo-nav {
  display: flex;
  align-items: center;
  padding-left: 300px;
}

.logo-nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

.logo-nav ul li {
  margin-left: 48px;
}

.login {
  display: flex;
  align-items: center;
  margin-left: 280px;
}

.get-started {
  display: inline-block;
  width: 153px;
  height: 56px;
  background-color: white;
  border: none;
  text-align: center;
  line-height: 56px;
  color: black;
  font-size: 14px;
  margin-left: 40px;
}

.content-top {
  display: flex;
  flex-direction: column;
  height: 720px;
  background-image: url(../img/bg-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-left: 40px;
}

.p-tags-top {
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.content-top h1 {
  margin-top: 12px;
}

.content-top p {
  margin-top: 22px;
}

.content-top a {
  display: inline-block;
  width: 153px;
  height: 56px;
  background-color: white;
  border: none;
  text-align: center;
  line-height: 56px;
  color: black;
  font-size: 14px;
  margin-top: 45px;
}

.all-in-one-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
  margin: 0;
  background-color: #f2f2f2;
}

.all-in-one-tool .logo-black {
  align-self: flex-start;
  margin-left: 50px;
  margin-top: 50px;
  width: 166px;
  height: 24px;
}

.all-in-one-tool h2 {
  margin-top: 5px;
  margin-bottom: 22px;
}

.all-in-one-tool-grid {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 77px;
}

.all-in-one-tool-grid img {
  width: 427px;
  height: 268px;
}

.all-in-one-tool-grid h4 {
  margin-top: 40px;
}

.all-in-one-tool-grid p {
  margin-top: 6px;
  font-size: 18px;
}

.ad {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-direction: column;
  width: 100wh;
  height: 480px;
  background-image: url(../img/piano.png);
  background-position: center;
  background-size: cover;
  color: white;
}

.ad h2 {
  background: none;
  padding-top: 125px;
}

.ad p {
  height: 53px;
  margin-top: 22px;
  background: none;
}

.ad a {
  font-size: 18px;
  padding: 20px;
  text-decoration: underline;
}

.info-block {
  display: flex;
  margin-top: 0px;
  background-color: #60777c;
  flex-direction: column;
  align-items: center;
  color: #ffff;
}

.info_1 {
  text-align: center;
  height: 290px;
}

.info_1 h2 {
  padding-top: 80px;
  margin-bottom: 20px;
}

.info_1 p {
  margin-top: 20px;
}

.info_2,
.info_3,
.info_4,
.info_5,
.info_6 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1440px;
  height: 533px;
}

.info_2_left h3,
.info_4_left h3 {
  padding-left: 40px;
  padding-top: 244px;
  height: auto;
}

.info_2_left p,
.info_4_left p {
  padding-top: 22px;
  padding-left: 40px;
}

.info_2 img,
.info_4 img {
  padding-top: 120px;
  margin-right: 40px;
}

.info_3 img,
.info_5 img {
  padding-top: 120px;
  margin-left: 40px;
}

.info_3_right h3,
.info_5_right h3 {
  padding-right: 184px;
  padding-top: 244px;
}

.info_3_right p,
.info_5_right p {
  padding-top: 22px;
  padding-right: 85px;
}

.info_6 {
  height: 609px;
}
.info_6_left h4 {
  padding: 0;
  padding-left: 40px;
  padding-top: 79px;
  height: auto;
}

.info_6_left p {
  padding-top: 190px;
  padding-left: 40px;
  font-size: 18px;
}

.info_6_left a {
  margin: 0;
  padding-top: 10px;
  padding-left: 40px;
  font-size: 18px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.27);
}

.info_6_slider {
  width: 660px;
  margin-right: 40px;
  overflow: hidden;
}

.info_6_slider-line {
  display: flex;
  position: relative;
  height: 413px;
  width: 1320px;
  padding-top: 80px;
  left: 0;
  transition: all ease 1s;
}

.info_6_slider p {
  display: inline-block;
  font-size: 18px;
  margin-left: 451px;
  padding-top: 15px;
  padding-right: 22px;
}

.info_6_slider button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
}

.info_6_button_back {
  margin-left: 22px;
}

.info_6_button_next {
  margin-left: 13px;
}

.starting-point {
  display: flex;
  flex-direction: column;
  height: 781.91px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.starting-point h2 {
  padding-top: 40px;
  margin-bottom: 22px;
}

.starting-point p {
  margin-bottom: 20px;
}

.starting-point a {
  color: black;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin-top: 65px;
  gap: 40px;
  justify-content: flex-start;
  overflow: scroll;
  scrollbar-width: none;
}

.carousel-inner::-webkit-scrollbar {
  display: none;
}

.carousel-inner p {
  margin-top: 13px;
  display: flex;
  align-self: flex-start;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
}

.carousel-1 {
  margin-left: calc((100% - 25%) / 2);
}

.carousel-inner img {
  width: 543px;
  height: 348px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.get-started-3 {
  display: flex;
  margin: 0;
  padding: 0;
  height: 530px;
  width: 100%;
  flex-direction: row;
  background-color: black;
  color: white;
}

.get-started-3-left {
  display: flex;
  flex-direction: column;
}

.get-started-3-left h2 {
  padding-top: 80px;
  padding-left: 40px;
}

.get-started-3-left a {
  padding-left: 40px;
  padding-top: 29px;
  text-decoration-line: underline;
}

.get-started-3-middle,
.get-started-3-right {
  display: flex;
  flex-direction: column;
  margin-top: 82px;
  margin-left: 300px;
}

.get-started-3-middle p,
.get-started-3-right p {
  margin-bottom: 53px;
}

.get-started-3-right {
  margin-left: 5px;
}

.get-started-3-right p {
  margin-bottom: 27px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1100px;
  margin: 0;
  padding: 0;
}

.plan-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.plan-top .plan-top-left h3 {
  padding-top: 80px;
}

.plan-top p {
  margin-top: 22px;
}

.radio-block {
  margin-top: 59px;
}

.radio_2 {
  margin-top: 13px;
}

.radio_1 label span {
  margin-left: 5px;
  font-size: 13px;
  color: #0074c2;
}

.plan-top-1c,
.plan-top-2c,
.plan-top-3c {
  display: flex;
  flex-direction: column;
  margin-top: 278px;
  margin-left: 477px;
  text-align: center;
}

.plan-top-2c {
  margin-left: 170px;
}

.plan-top-3c {
  margin-left: 189px;
}

.c_1 .c_1_2,
.c_2 .c_2_2,
.c_3 .c_3_2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 32px;
}

.c_1_2 span,
.c_2_2 span,
.c_3_2 span {
  font-size: 12px;
  line-height: 20px;
}

.c_1 .c_1_3,
.c_2 .c_2_3,
.c_3 .c_3_3 {
  font-size: 12px;
  margin-top: 4px;
}

.c_1 .c_1_4,
.c_2 .c_2_4,
.c_3 .c_3_4 {
  font-size: 12px;
  margin-top: 5px;
  color: #0074c2;
  line-height: 16px;
}

.plan-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 61px;
}

.plan-mid hr {
  background-color: #ebebeb;
  border: none;
  height: 1px;
  margin: 0;
  margin-top: 16px;
  border-radius: 0px;
  width: 1360px;
}

.row_1,
.row_2,
.row_3,
.row_4,
.row_5 {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
  font-size: 14px;
}

.row_1 p,
.row_2 p,
.row_3 p,
.row_4 p,
.row_5 p {
  font-size: 14px;
}

.plan-mid-head {
  align-self: flex-start;
  margin-left: 55px;
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.row_1_1,
.row_2_1,
.row_3_1,
.row_4_1,
.row_5_1 {
  font-size: 18px !important;
  line-height: 15px !important;
}

.row_1_2 {
  margin-left: 565px;
}
.row_1_3 {
  margin-left: 225px;
}
.row_1_4 {
  margin-left: 225px;
}

.row_2_2 {
  margin-left: 645px;
}
.row_2_3 {
  margin-left: 215px;
}
.row_2_4 {
  margin-left: 215px;
}

.row_3_2 {
  margin-left: 614px;
}
.row_3_3 {
  margin-left: 216px;
}
.row_3_4 {
  margin-left: 218px;
}

.row_4_2 {
  margin-left: 510px;
}
.row_4_3 {
  margin-left: 216px;
}
.row_4_4 {
  margin-left: 218px;
}

.row_5_2 {
  margin-left: 517px;
}
.row_5_3 {
  margin-left: 216px;
}
.row_5_4 {
  margin-left: 218px;
}

.plan-mid h4 {
  margin-top: 39px;
}

.plan-bottom {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 52px;
}

.plan-bottom-1,
.plan-bottom-2,
.plan-bottom-3,
.plan-bottom-4 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.plan-bottom-1 {
  margin-left: 508px;
}

.plan-bottom img {
  width: 16px;
  height: 15px;
  margin-bottom: 27px;
}

.plan-bottom-2,
.plan-bottom-4 {
  font-size: 18px;
  margin-left: 15px;
}

.plan-bottom-2 p,
.plan-bottom-4 p {
  margin-bottom: 15px;
  font-size: 18px;
}

.plan-bottom-3 {
  margin-left: 75px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  align-items: center;
  height: 655px;
  width: 100%;
  background-color: black;
  color: white;
}

.questions h3 {
  margin-top: 75px;
  margin-bottom: 44px;
}

.questions hr {
  background: rgba(202, 202, 202, 0.3);
  border: none;
  height: 1px;
  margin: 0;
  margin-bottom: 25px;
  border-radius: 0px;
  width: 900px;
}

.questions button {
  display: flex;
  flex-direction: row;
  width: 900px;
  align-items: center;
  margin-left: 0;
  justify-content: space-between;
  border-color: black;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 20px;
}

.button-plus {
  font-size: 48px;
  line-height: 26px;
}

.customer-support {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 920px;
  background-color: black;
}

.customer-support-img {
  height: 100%;
}

.customer-support-img img {
  margin-left: 40px;
  margin-top: 80px;
  height: 760px;
  width: 543px;
}

.customer-support-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
  margin-left: 157px;
}

.customer-support-right h2 {
  margin-top: 278px;
}

.customer-support-right p {
  margin-top: 22px;
}

.customer-support-right a {
  margin-top: 19px;
  font-size: 18px;
  align-self: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.penultimate-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 235px;
  width: 100%;
  background-color: black;
  color: white;
}

.penultimate {
  display: flex;
  width: 1440px;
}

.penultimate h3 {
  margin-top: 75px;
  margin-left: 40px;
}

.free-trial {
  display: inline-block;
  width: 153px;
  height: 56px;
  background-color: white;
  border: none;
  text-align: center;
  line-height: 56px;
  color: black;
  font-size: 14px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 80px;
}

.footer {
  display: flex;
  flex-direction: row;
  height: 625px;
  background-color: black;
}

.last-c-1 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.last-logo {
  margin-top: 115px;
}

.currency-button,
.language-button {
  display: inline-block;
  cursor: pointer;
  width: 150px;
  height: 47px;
  background-color: #1a1a1a;
  border: none;
  color: white;
  margin-top: 40px;
  text-align: left;
}

.currency-button p,
.language-button p {
  margin-left: 15px;
  line-height: 14px;
  font-size: 14px;
}

.arrow-down-1 {
  margin-left: 69px;
}

.arrow-down-2 {
  margin-left: 49px;
}

.first-ul {
  padding-left: 210px;
  padding-top: 122px;
  margin-top: 0;
  list-style-type: none;
}

.last-c-3 ul,
.last-c-4 ul,
.last-c-5 ul,
.last-c-6 ul {
  padding-left: 65px;
  padding-top: 122px;
  margin-top: 0;
  list-style-type: none;
}

.first-li {
  margin-bottom: 26px;
}

.footer ul li {
  font-size: 14px;
  padding-bottom: 9px;
}

@media screen and (max-width: 1441px) {
  html {
    width: fit-content;
  }
}

@media screen and (min-width: 1441px) {
  .get-started-3 {
    justify-content: center;
  }
  .customer-support {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 920px;
    background-color: black;
    justify-content: center;
    align-items: center;
  }
  .customer-support-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    color: white;
    margin: 0;
    margin-left: 157px;
  }
  .footer {
    justify-content: center;
  }
}
