html {
  font-family: "Roboto";
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

.header {
  position: absolute;
  background-color: black;
  height: 80px;
  width: 100wh;
  left: 0%;
  right: 0%;
  top: 0px;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 25px;
  left: 40px;
}

.logo-nav {
  height: 80px;
  position: absolute;
  left: 20%;
  right: 20%;
}

.logo-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 233px;
  margin-right: 233px;
  height: 80px;
}

.logo-nav ul li {
  color: white;
  display: inline;
}

.login {
  display: flex;
  align-items: center;
  margin-left: 80%;
  height: 80px;
}

.log-in {
  position: absolute;
  right: 233px;
  color: white;
}

.get-started {
  position: absolute;
  right: 40px;
  display: inline-block;
  width: 153px;
  height: 56px;
  background-color: white;
  border: none;
  text-align: center;
  line-height: 56px;
  color: black;
  font-size: 14px;
}

.content-top {
  position: absolute;
  width: 100%;
  height: 800px;
  margin: 0, 0, 0, 0;
}

.background {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content-top-left {
  position: absolute;
  height: 800px;
  width: 656px;
  margin-left: 0px;
  margin-top: 0px;
  color: #efefef;
  font-family: "Roboto";
  font-style: normal;
}

.sell-online {
  position: absolute;
  margin-top: 173px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 22px;
}

.member-areas {
  position: absolute;
  margin-top: 173px;
  margin-left: 202px;
  font-size: 18px;
  line-height: 22px;
}

.create-content {
  position: absolute;
  height: 216px;
  width: 499px;
  margin-top: 207px;
  margin-left: 40px;
  font-size: 72px;
  line-height: 72px;
  color: white;
}

.about-top {
  position: absolute;
  height: 80px;
  width: 500px;
  margin-top: 445px;
  margin-left: 40px;
  font-size: 22px;
  line-height: 26px;
  color: white;
}

.get-started-2 {
  position: absolute;
  margin-top: 571px;
  margin-left: 40px;
  display: inline-block;
  width: 153px;
  height: 56px;
  background-color: white;
  border: none;
  text-align: center;
  line-height: 56px;
  color: black;
  font-size: 14px;
}

.empty {
  display: grid;
  width: 100vh;
  height: 800px;
}

.all-in-one-tools {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100vw;
  height: 749px;
  row-gap: 0px;
}

.grid_1 {
  margin: 0;
  background-color: #f2f2f2;
}

.grid_1 img {
  width: auto;
}

.grid_1 .item_1 {
  padding-top: 50.77px;
  padding-left: 47.08px;
}

.grid_1 .item_2 {
  text-align: center;
  margin-top: 4.39px;
}

.grid_1 .item_3 {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 22px;
}

.grid_1 .item_4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 77px;
  padding-left: 40px;
  padding-right: 40px;
}

.grid_2 {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  padding-top: 39px;
  margin-left: 40px;
  margin-right: 40px;
}

.grid_2 h4 {
  margin-top: 39px;
}

.grid_2 p {
  margin-top: 6px;
  font-size: 18px;
}

.ad {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-direction: column;
  width: 100wh;
  height: 480px;
  background-image: url(../img/piano.png);
  background-position: center;
  background-size: cover;
  color: white;
}

.ad h2 {
  background: none;
  padding-top: 125px;
}

.ad p {
  height: 53px;
  margin-top: 22px;
  background: none;
}

.ad a {
  font-size: 18px;
  padding: 20px;
  text-decoration: underline;
}

.info-block {
  display: flex;
  margin-top: 0px;
  background-color: #60777c;
  flex-direction: column;
  color: #ffff;
}

.info_1 {
  text-align: center;
  height: 290px;
}

.info_1 h2 {
  padding-top: 80px;
  margin-bottom: 20px;
}

.info_1 p {
  margin-top: 20px;
}

.info_2,
.info_3,
.info_4,
.info_5,
.info_6 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 533px;
}

.info_2_left h3,
.info_4_left h3 {
  padding-left: 40px;
  padding-top: 244px;
  height: auto;
}

.info_2_left p,
.info_4_left p {
  padding-top: 22px;
  padding-left: 40px;
}

.info_2 img,
.info_4 img {
  padding-top: 120px;
  margin-right: 40px;
}

.info_3 img,
.info_5 img {
  padding-top: 120px;
  margin-left: 40px;
}

.info_3_right h3,
.info_5_right h3 {
  padding-right: 184px;
  padding-top: 244px;
}

.info_3_right p,
.info_5_right p {
  padding-top: 22px;
  padding-right: 85px;
}

.info_6 {
  height: 609px;
}
.info_6_left h4 {
  padding: 0;
  padding-left: 40px;
  padding-top: 79px;
  height: auto;
}

.info_6_left p {
  padding-top: 190px;
  padding-left: 40px;
  font-size: 18px;
}

.info_6_left a {
  margin: 0;
  padding-top: 10px;
  padding-left: 40px;
  font-size: 18px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.27);
}

.info_6_slider {
  width: 660px;
  margin-right: 40px;
  overflow: hidden;
}

.info_6_slider-line {
  display: flex;
  position: relative;
  height: 413px;
  width: 1320px;
  padding-top: 80px;
  left: 0;
  transition: all ease 1s;
}

.info_6_slider p {
  display: inline-block;
  font-size: 18px;
  margin-left: 451px;
  padding-top: 15px;
  padding-right: 22px;
}

.info_6_slider button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
}

.info_6_button_back {
  margin-left: 22px;
}

.info_6_button_next {
  margin-left: 13px;
}

.slider-js {
  display: flex;
  flex-direction: column;
  height: 781.91px;
  width: 100wh;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slider-js h2 {
  padding-top: 40px;
  margin-bottom: 22px;
}

.slider-js p {
  margin-bottom: 20px;
}

.slider-js a {
  color: black;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.get-started-3 {
  display: flex;
  margin: 0;
  padding: 0;
  height: 530px;
  width: 100%;
  flex-direction: row;
  background-color: black;
  color: white;
}

.get-started-3-left {
  display: flex;
  flex-direction: column;
}

.get-started-3-left h2 {
  padding-top: 80px;
  padding-left: 40px;
}

.get-started-3-left a {
  padding-left: 40px;
  padding-top: 29px;
  text-decoration-line: underline;
}

.get-started-3-middle,
.get-started-3-right {
  display: flex;
  flex-direction: column;
  margin-top: 82px;
  margin-left: 300px;
}

.get-started-3-middle p,
.get-started-3-right p {
  margin-bottom: 53px;
}

.get-started-3-right {
  margin-left: 5px;
}

.get-started-3-right p {
  margin-bottom: 27px;
}

.plan {
  display: flex;
  flex-direction: column;
  height: 1100px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.plan-top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.plan-top .plan-top-left h3 {
  padding-top: 80px;
}

.plan-top p {
  margin-top: 22px;
}

.radio-block {
  margin-top: 59px;
}

.radio_2 {
  margin-top: 13px;
}

.radio_1 label span {
  margin-left: 5px;
  font-size: 13px;
  color: #0074c2;
}

.plan-top-1c,
.plan-top-2c,
.plan-top-3c {
  display: flex;
  flex-direction: column;
  margin-top: 278px;
  margin-left: 477px;
  text-align: center;
}

.plan-top-2c {
  margin-left: 170px;
}

.plan-top-3c {
  margin-left: 189px;
}

.c_1 .c_1_2,
.c_2 .c_2_2,
.c_3 .c_3_2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 32px;
}

.c_1_2 span,
.c_2_2 span,
.c_3_2 span {
  font-size: 12px;
  line-height: 20px;
}

.c_1 .c_1_3,
.c_2 .c_2_3,
.c_3 .c_3_3 {
  font-size: 12px;
  margin-top: 4px;
}

.c_1 .c_1_4,
.c_2 .c_2_4,
.c_3 .c_3_4 {
  font-size: 12px;
  margin-top: 5px;
  color: #0074c2;
  line-height: 16px;
}

.plan-mid {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 61px;
}

.plan-mid hr {
  background-color: #ebebeb;
  border: none;
  height: 1px;
  margin: 0;
  margin-top: 16px;
  border-radius: 0px;
  width: 1360px;
}

.row_1,
.row_2,
.row_3,
.row_4,
.row_5 {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
  font-size: 14px;
}

.row_1 p,
.row_2 p,
.row_3 p,
.row_4 p,
.row_5 p {
  font-size: 14px;
}

.plan-mid-head {
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.row_1_1,
.row_2_1,
.row_3_1,
.row_4_1,
.row_5_1 {
  font-size: 18px !important;
  line-height: 15px !important;
}

.row_1_2 {
  margin-left: 565px;
}
.row_1_3 {
  margin-left: 225px;
}
.row_1_4 {
  margin-left: 225px;
}

.row_2_2 {
  margin-left: 645px;
}
.row_2_3 {
  margin-left: 215px;
}
.row_2_4 {
  margin-left: 215px;
}

.row_3_2 {
  margin-left: 614px;
}
.row_3_3 {
  margin-left: 216px;
}
.row_3_4 {
  margin-left: 218px;
}

.row_4_2 {
  margin-left: 510px;
}
.row_4_3 {
  margin-left: 216px;
}
.row_4_4 {
  margin-left: 218px;
}

.row_5_2 {
  margin-left: 517px;
}
.row_5_3 {
  margin-left: 216px;
}
.row_5_4 {
  margin-left: 218px;
}

.plan-mid h4 {
  margin-top: 39px;
}

.plan-bottom {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 52px;
}

.plan-bottom-1,
.plan-bottom-2,
.plan-bottom-3,
.plan-bottom-4 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.plan-bottom-1 {
  margin-left: 508px;
}

.plan-bottom img {
  width: 16px;
  height: 15px;
  margin-bottom: 27px;
}

.plan-bottom-2,
.plan-bottom-4 {
  font-size: 18px;
  margin-left: 15px;
}

.plan-bottom-2 p,
.plan-bottom-4 p {
  margin-bottom: 15px;
  font-size: 18px;
}

.plan-bottom-3 {
  margin-left: 75px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  align-items: center;
  height: 655px;
  width: 100%;
  background-color: black;
  color: white;
}

.questions h3 {
  margin-top: 75px;
  margin-bottom: 44px;
}

.questions hr {
  background: rgba(202, 202, 202, 0.3);
  border: none;
  height: 1px;
  margin: 0;
  margin-bottom: 25px;
  border-radius: 0px;
  width: 900px;
}

.questions button {
  display: flex;
  flex-direction: row;
  width: 900px;
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
  margin-left: 20%;
  border-color: black;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 20px;
}

.button-plus {
  font-size: 48px;
  line-height: 26px;
}
